<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLVvUjTq_X5XsawpHakHNsSY4GJAf2QY0</string>
	<key>GCM_SENDER_ID</key>
	<string>865131931231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taskApp.taskNotify</string>
	<key>PROJECT_ID</key>
	<string>tasknotify-3e968</string>
	<key>STORAGE_BUCKET</key>
	<string>tasknotify-3e968.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865131931231:ios:2230b2f44d88b7419bddea</string>
</dict>
</plist>